.wrapper {
  display: flex;
  
}
.container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  
}

/* Sidebar */
.sidebar {
  width: var(--width-sidebar);
  height: 100vh;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  z-index: 200;
}

.hide {
  transform: translateX(-100%);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

/* Responsive: sidebar thành overlay khi nhỏ hơn 760px */
@media (max-width: 760px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 1px 0 5px rgba(121, 121, 121, 0.3);
  }
}

/* Overlay mờ (khi sidebar mở) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(133, 133, 133, 0.4);
  z-index: 150;
  transition: opacity 0.3s ease;
}


.header {
  width: 100%;
}
.main {
  width: 100%;
  overflow-y: auto;
}
