spring:
  application:
    name: station-service
  datasource:
    url: jdbc:mysql://mysql_station:3306/station_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8084

tomtom:
  api:
    key: ed2BSse4elxl3EtIxrYXSV2rxEHGVN7g
